---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% endif %}
            </div>

            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>

            <div class="label-card">
            {% include category.html %}
            </div>

            <div class="label-card">
            {% include tag.html %}
            </div>

        </div>
        <hr>

        {% include googleAdsense.html %}

        <article itemscope itemtype="http://schema.org/BlogPosting">
            <div>{{ page.debut | date: "%F" }}</div>
            {% assign albums = site.categories[page.title] | group_by:"album" %}
            {% for albumName in page.albums %}
            <h2>{{ albumName }}</h2>
            <ul>
                {% assign album = albums | find: "name", albumName %}
                {% if album and album.name == "Love Lee [2023.08.21]" %}
                    {% assign posts = album.items | sort: "track", "last" %}
                    {% for post in posts %}
                    {% assign title_parts = post.title | replace: "- ", " [" | split: " [" %}
                    <li>{{ post.track }}. {{ title_parts[1] }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
            {% endfor %}
        </article>

        <h2 id="comments">Comments</h2>
        {% include comments.html %}


    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <!-- (s) category post list -->
            <div class="side content">
                {% capture category %}{{ page.categories | first }}{% endcapture %}
                <div>
                    {{ category }}
                </div>
                {% assign category_length = page.categories[0] | size %}
                <ul id="content-side" class="content-ul">
                {% for post in site.categories[category] limit: 5 %}
                    <li>
                        <a href="{{ post.url | relative_url }}">
                            {% assign title_parts = post.title | replace: "- ", " [" | split: " [" %}
                            {{ title_parts[1] }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <!-- (e) category post list -->
        </div>
    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>